escorxaDAM/.vs/escorxaDAM/v15/Server/sqlite3/storage.ide-wal
escorxaDAM/.vs/escorxaDAM/v15/Server/sqlite3/storage.ide-shm
escorxaDAM/.vs/escorxaDAM/v15/Server/sqlite3/storage.ide
escorxaDAM/.vs/escorxaDAM/v15/Server/sqlite3/db.lock
