<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EtiquetaSafata.Properties.Settings.escorxadam2" connectionString="Data Source=den1.mssql4.gear.host;Initial Catalog=escorxadam2;Persist Security Info=True;User ID=escorxadam2;Password=Ag69!J031s1?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>