<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA35NbtwzwxU+1Wxel9oUR/wQAAAACAAAAAAAQZgAAAAEAACAAAADCVsCa1TtlIXzID3wzB7svuZk6RDoHGIod5sq+nf4hvQAAAAAOgAAAAAIAACAAAAAj0DBvVm9v1i9NMuc/H1KTP+JisWWcukG/eRNCoRuuUcABAAD8xIukZXZjAc1Pk+0Y1hQXIE82Gblf1eeYI6IBAPRjz0Xf+Wpa+z+Bb6jyiME1ZgaGyOvTc4/+/TXHEf1meQ6WvGHlUvixzsyLUvS4fSE/sryFaE930DGJQA5hKbzf57Mh6ia8eDrhfLS8TKa9DowFhy10wrp4JIkExaJtzFgdc/FcY+NTxhKWla4jnaNgB5LWFM5gYq/YG89S/IvGa9U1MkWeJzxO90j6U3wcHsV7HEfdkOXYkkZ4o2yRl2WcDAyDw5vYcFWK4fZJjB0BTRm+SIVKlbp5DPCj37hduVsiVoEULNrjpqxXnJToPKnlHnrHYskUhmwt6ygvry9Hra2ktNuFLnw+y4CZND3Q0n3VuZhgFtnBPT+qk49Sd0pXqNJEKo0R4AZRl9I4m7ZrRSFATL7ZdorGZFyJ0JSfGHzpUaiQJRLbbBXvv2Kcru8DrGI2SBxuEzmHSxKTugwz7dtqv2ws6yxzdtTtAU6oD2rbysR2Ks8+Vl7fkspoiC85juQ1ce0eQU0X13LUc9JcEUuKjQWOqsX1Gh4jwTKa6gDdhrN/9i8C13QC/SSZEjpcr4KdFuk3KA/gOITMcOgzHDdvQAAAABX6qkjCZsOjhSSDCVXsEnwd4B4ovRxzcPk2oOdQ4B1AMd5sYwLapCAReREFjkxYf/EByfwdN0h9sdcOxLmSziE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>
