<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="escorxaDAM" connectionString="Server=den1.mssql4.gear.host;Database=escorxadam2;User Id=escorxadam2;Password=Ag69!J031s1?;" providerName="Data.SqlClient" />
  <add name="escorxadam2Entities" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql4.gear.host;initial catalog=escorxadam2;user id=escorxadam2;password=Ag69!J031s1?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
