<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="escorxaDAM" connectionString="SERVER= 51.255.58.1;PORT=3306;DATABASE=g2s2am_escorxaDAM;UID=g2s2am;PASSWORD=diopters12345;" providerName="System.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.6.0" newVersion="6.10.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
